//colors
$white: #ffffff;
$primary: #1454F2;
$main-text: #121212;
$grey: #AAAAAA;
$secondary: #407cff77;
$darkBack: #1D262D;
$green: #27DEBF;

$backBlock: #F8FBFF;

$borderR: 20px;
$ellipse: 50%;

$radioRadius: 5px;

$course1: #FFD0D9;
$course2: #39A2FE;
$course3: #FFD0D9;
$course4: #FFBD98;
$course5: #F2B7D3;
$course6: #FBF2E7;
$course7: #FBB028;
$course8: #95CCFF;