//colors
$white: #ffffff;
$primary: #1454F2;
$main-text: #121212;
$grey: #AAAAAA;
$secondary: #407cff77;

$backBlock: #F8FBFF;

$borderR: 20px;


$course1: #FFD0D9;
$course2: #39A2FE;
$course3: #FFD0D9;
$course4: #FFBD98;