//colors
$white: #ffffff;
$akebi_purple: #9844b7;
$noble_black: #1D2029;
$summer_sky: #3bade3;
$blue_oyster_cult: #576fe6;
$lilac_lotion: #ff357f;
$glass: rgba(150, 150, 150, 0.2);
$border: rgba(150, 150, 150, 0.5);