.admin__bank {
    position: relative;

    &_input {
        display: flex;
        flex-direction: column;
        padding: 15px 40px;

        label {
            margin-bottom: 8px;
            font-size: 17px;
            font-weight: 600;
        }

        input {
            padding: 6px 10px;
            border: 0;
            border-bottom: 1px solid;
            font-size: 15px;

            &:focus {
                outline: none;
            }
        }

        &.white {
            background-color: #ffffff;
            border-radius: 8px;
        }
    }

    &_keys {
        position: absolute;
        top: 40px;
        right: 0;

        img {
            position: absolute;
            right: 0;
            width: 26px;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }
        }

        & .keys {
            padding-top: 60px;
            font-size: 14px;
            font-weight: 600;
        }
    }

    &_title {
        display: flex;
    }

    &_name {
        font-size: 22px;
        font-weight: 600;

        &:first-child {
            margin-right: 20px;
        }
    }

    &_add {
        margin: 20px 0;
        padding: 6px 20px;
        background: #ffffff;
        border: 1px solid;
        border-radius: 6px;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }
        
        span {
            font-size: 16px;
            font-weight: 600;
        }

        & .amount {
            color: #ff0e0e;
        }
    }

    &_list {
        position: relative;
        margin-top: 16px;
        margin-bottom: 40px;
        background: #ffffff;
        border-radius: 8px;

        img {
            position: absolute;
            right: 10px;
            top: -30px;
            width: 26px;
            opacity: 0.7;
            cursor: pointer;

            &:hover {
                opacity: 0.5;
            }
        }
    }
    &_buttons {
        display: flex;
        gap: 40px;
    }

    &_button {
        margin: 10px 20px 20px 40px;
        padding: 8px 30px;
        border-radius: 8px;
        background-color: #4a89dc;
        border: 0;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }

        span {
            font-size: 16px;
            color: #ffffff;
        }
    }

    &_application {
        position: relative;
        margin-bottom: 40px;
        
        background: #ffffff;
        border-radius: 8px;

        li {
            padding: 15px 40px;
            border-bottom: 1px solid rgb(99, 99, 99);

            &:last-child {
                border-bottom: 0;
            }

            p {
                padding-bottom: 2px;

                &.weight {
                    padding-bottom: 5px;
                    font-weight: 600;
                }
            }
        }
    }
}

.bank__name{
    font-size: 28px;
    padding-bottom: 15px;
}

.btn_enter_2{
    display: flex;
    justify-content: center;
    
    width: 1240px;
    background-color: white;
}

