.admin__bank {
    position: relative;

    &_input {
        display: flex;
        flex-direction: column;
        padding: 15px 40px;

        &.white {
            background-color: #ffffff;
            border-radius: 8px;
        }
    }

    &_keys {
        position: absolute;
        top: 40px;
        right: 0;

        img {
            position: absolute;
            right: 0;
            width: 26px;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }
        }

        & .keys {
            padding-top: 60px;
            font-size: 14px;
            font-weight: 600;
        }
    }

    &_title {
        display: flex;
    }

    &_name {
        font-size: 22px;
        font-weight: 600;

        &:first-child {
            margin-right: 20px;
        }
    }

    &_add {
        margin: 20px 0;
        padding: 6px 20px;
        background: #ffffff;
        border: 1px solid;
        border-radius: 6px;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }
        
        span {
            font-size: 16px;
            font-weight: 600;
        }
    }

    &_list {
        position: relative;
        margin-bottom: 40px;
        background: #ffffff;
        border-radius: 8px;

        img {
            position: absolute;
            right: 10px;
            top: -30px;
            width: 26px;
            opacity: 0.7;
            cursor: pointer;

            &:hover {
                opacity: 0.5;
            }
        }
    }

    &_button {
        margin: 10px 20px 20px 40px;
        padding: 8px 30px;
        border-radius: 8px;
        background-color: #4a89dc;
        border: 0;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }

        span {
            font-size: 16px;
            color: #ffffff;
        }
    }
}

.bank__name{
    font-size: 28px;
    padding-bottom: 15px;
}

.btn_enter_2{
    display: flex;
    justify-content: center;
    
    width: 1240px;
    background-color: white;
}
