@import 'utils/variables.scss';

.wrapper h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.article_wrapper{
    display: flex;
    justify-content: center;
}
.article_list{
    display: grid;
    grid-template-columns: repeat(2, 500px);
    height: 600px;
    gap: 10px
}
.article_item{
    background-color: #F8FBFF;
    border-radius: $borderR;
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1{
        color: #1454F2;
        font-family: Montserrat;
        // font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 29px;
        padding-bottom: 10px;
    }
    p {
        color: #121212;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        margin-top: 5px;
        margin-bottom: 25px;
    }
    .button-date{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
}



// article page
.article_content{
    padding: 30px;
    background: #F8FBFF;
    margin: 20px;
    border-radius: $borderR;

    h2 {
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .publish_date{
        margin-top: 10px;
    }
}


@media(max-width: 992px) {
    .article_list{
        grid-template-columns: repeat(2, 1fr); 
    }
}

  @media(max-width: 767px) {
    .article_list{
        grid-template-columns: repeat(1, 500px); 
    }
  }

  @media(max-width: 464px) {
    .article_list{
        grid-template-columns: repeat(1, 350px); 
    }
  }