@import 'utils/variables.scss';
.article_wrapper{
    display: flex;
    justify-content: center;
}
.article_list{
    display: grid;
    grid-template-columns: repeat(2, 500px);
    height: 600px;
    gap: 10px
}
.article_item{
    background-color: #F8FBFF;
    border-radius: $borderR;
    padding: 15px;
    position: relative;
    padding-bottom: 70px;

    h1{
        color: #1454F2;
        font-family: Montserrat;
        // font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 29px;
    }
    p {
        color: #121212;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
    }
    a{
        display: inline-flex;
        padding: 20px 35px;
        align-items: flex-start;
        gap: 14px;
        border-radius: 100px;
        background: #1454F2; 
        color: #FFFFFF;
        margin-top: 13px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    & .publish_date{
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 15px;
    }
}
