.spinner {
    position: absolute;
    right: 30px;
    top: 10px;
    width: 30px;
    height: 30px;
    padding: 4px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #1E90FF;
    --_m: 
        conic-gradient(#0000 10%,#000),
        linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: s3 1s infinite linear;

    &_pending {
        top: 0;
    }
}
@keyframes s3 {to{transform: rotate(1turn)}}

.modal {
    &__bank {
        margin-top: 50px;
        position: relative;
        display: flex;
        justify-content: start;

        &_item {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            font-weight: 600;
        }

        &_img {
            position: absolute;
            right: 30px;
            width: 32px;
        }

        span {
            margin-right: 30px;
        }
        
        &_logo {
            width: 80px;
        }

        &_pending {
            padding-top: 30px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                font-size: 18px;
                font-weight: 600;
            }
        }

        &_approved {
            position: absolute;
            right: 80px;
            padding: 4px 6px;
            background-color: #ffffff;
            border: 1px solid #515151;
            border-radius: 8px;
            cursor: pointer;

            &:hover {
                background-color: #cecece;
            }

            span {
                margin: 0;
                font-size: 16px;
            }
        }
    }
}
