$loader-style: double; 
$loader-width: 0.5em;
$loader-color: blue;
$loader-size: 150px;
$loader-speed: 1s;
$body-bg: #e74c3c;

.main__modal{
    display: flex;
    justify-content: center;
}
.modal__conteiner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600;
    height: auto ;
    border-radius:24px;
    border: 5px solid DodgerBlue;
    padding: 25px 25px 25px 25px;
    margin-top: 35px;
}
.title__st{
    display:flex;
    justify-content: center;
    width: 600px;
    font-size: 35px;
}

.horizontal-line{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 15px;
        .horizontal-line_1{
            width: 293px;
            height: 2px;    
            border-radius: 2px;    
            background-color: rgba(20, 84, 242, 1);
        }    
}
.Enter__form_1{
    display: flex;
    justify-content: center;
        .Enter__form{
            //font-family: Raleway;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: center;

        }
}
.pole__regis{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    .auth__label{
        padding-bottom: 5px;
        font-weight: 600;
        color:  #303030;
    }
    .auth__input{
        padding: 5px;
        border: 0;
        border-bottom: 1px solid #000000
    }
}
.enter__data_1{
    display:flex;
    justify-content: center;
    margin-top: 25px;
        .enter__data{
            width: 300px;
            height: 58px;
            background-color: DodgerBlue;
            border-radius: 50px;
            color: white;
    }
}
    

// colors by http://flatuicolors.com/

.loader {
    left: 680px;
  width: 1em;
  height: 1em;
  font-size: $loader-size;
  position: absolute;
//   @media (max-width: $loader-size * 1.5), (max-height: $loader-size * 1.5) {
//     font-size: $loader-size/2;
//   }
  &:before, &:after {
    content: "";
    top: 0;
    display: block;
    width: 1em;
    height: 1em;
    position: absolute;
    border-width: $loader-width;
    border-style: $loader-style;
    border-color: transparent;
    box-sizing: border-box;
    border-radius: 1em;
    animation: spin $loader-speed infinite;
  }
  &:after {
    left: 0;
    border-left-color: $loader-color;
  }
  &:before {
    right: 0;
    border-right-color: $loader-color;
    animation-delay: $loader-speed;
  }
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }
}
