@import 'utils/variables.scss';

$backCourses: (
  0: $course1,
  1: $course2,
  2: $course3,
  3: $course4,
  4: $course5,
  5: $course6,
  6: $course7,
  7: $course8,
);



.courses{
  &_wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: repeat();
    gap: 15px;
  
    .course{
      position: relative;
      border-radius: $borderR;
      padding: 15px;
      height: 170px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &_title, &_price, &_course_desc{
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
      }

      &_desc{
        font-weight: 400;
        font-size: 12px;
        display: flex;
        gap: 15px;
      }

      &_img{
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translate(0, -50%);
      }
    }

    @each $index,
    $back in $backCourses {
      .course_#{$index} {
        background: $back;
      }
    }
  }
}