@import 'utils/variables.scss';

$backCourses: (
  0: $course1,
  1: $course2,
  2: $course3,
  3: $course4,
  4: $course5,
  5: $course6,
  6: $course7,
  7: $course8,
);

$backUniverse:(
  0: url('images/universe/1.png'),
  1: url('images/universe/2.png'),
  2: url('images/universe/3.png'),
  3: url('images/universe/4.png'),
  4: url('images/universe/5.png'),
  5: url('images/universe/6.png'),
  6: url('images/universe/7.png'),
  7: url('images/universe/8.png'),
  8: url('images/universe/10.png'),
  9: url('images/universe/11.png'),
  10: url('images/universe/12.png'),
  11: url('images/universe/13.png'),
  12: url('images/universe/14.png'),
  13: url('images/universe/15.png'),
  14: url('images/universe/16.png'),
);

.home{
  padding-top: 75px;
}

.title_wrap{
  position: relative;

  .circle_effect{
    top: -2%;
    right: 3%;
  }
}

.main{
  height: 600px;
  background-image: url('images/mainBack.jpg');
  z-index: -1;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;

  &_desc{
    max-width: 800px;
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-20%, -20%);
    color: $white;
  }

}

.universities{
  background: $primary;
  padding: 50px 0;
  
  &_wrap{
    position: relative;
  }

  &_prev, &_next{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: $ellipse;
    padding: 10px;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
      width: 25px;
      height: 25px;
    }

    // &:hover{
    //   box-shadow: 0 10px 30px #c7c7c7;
    // }

  }

  &_prev{
    left: 0;
  }

  &_next{
    right: 0;
  }

  &_carousel{
    display: flex;
    gap: 35px;
    white-space: nowrap;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
    transition: all 0.4s linear;
    max-width: 800px;
    margin: 0 auto;
  }

  &_item{
    padding: 40px;
    border: $borderR;
    width: 75px;
    height: 75px;
   
  }
}

  @each $index,
  $back in $backUniverse {
    .universities_item_#{$index} {
      background: $back;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

.banks{
  &_inner{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
  }

  &_item{
    font-size: 16px;
    padding: 15px 25px;
  }
}

.courses{
  &_wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    gap: 15px;

    // .f-center{
    //   position: relative;

    //   .circle_effect{
    //     top: 1%;
    //     right: 1%;
    //   }
    // }

    &::before {
      content: '';
      position: absolute;
      bottom: -30px;
      z-index: -5;
      left: -15%;
      transform: translate(-50%, -50%);
      background: url('svg/iconEffect/circle.svg');
      height: 300px;
      width: 300px;
      transform: rotate(-90deg);
      background-repeat: no-repeat;
      // filter: blur(250px);
    }
  
    .circle_effect{
      top: 20%;
      left: -7%;
    }

    .course{
      position: relative;
      border-radius: $borderR;
      padding: 15px;
      height: 170px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &_title, &_price, &_course_desc{
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
      }

      &_desc{
        font-weight: 400;
        font-size: 12px;
        display: flex;
        gap: 15px;
      }

      &_img{
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translate(0, -50%);
      }
    }

    @each $index,
    $back in $backCourses {
      .course_#{$index} {
        background: $back;
      }
    }
  }

}


@media (max-width: 992px){

}
@media (max-width: 767px){
  .universeTitle{
    padding: 0 10px;
  }

  .universities{
    padding: 30px 0;
    padding-left: 10px;
    padding-right: 10px;

    &_carousel{
        gap: 15px;
        max-width: 500px;
        // margin: 0 25px;
    }

    &_item{
      padding: 10px;

      img{
        width: 50px;
      }
    }

    &_prev, &_next{
      padding: 10px;

      img{
        width: 20px;
        height: 20px;
      }
    }
  }

  .banks{
    &_inner{
      gap: 15px;
    }
    &_item{
      font-size: 14px;
      padding: 12px 22px;
    }
  }

  .courses{
    &_wrap{
        grid-template-columns: repeat(2, 1fr);

        .f-center{
          justify-content: flex-start;
        }
    }

    
  }
}
@media (max-width: 600px){

  .main{
    height: 400px;

    &_desc{
      max-width: 100%;
      width: 100%;
      padding: 0 10px;
    }

    &_title{
      font-size: 36px;
      line-height: 42px;
    }
  }

  .universities{
    &_item{
      padding: 30px;
    }

    &_prev, &_next{
      display: none;
    }
  }

  .courses{
    &_wrap{
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 464px){
  .main{
    margin-bottom: 35px;
  }
  .universities{
    &_item{
      padding: 25px;
      width: auto;
      height: auto;
    }
  }
  .banks{
    &_item{
      font-size: 12px;
      padding: 10px 15px;
    }
  }
}