@import 'utils/variables.scss';
@import 'utils/fonts.scss';

*,
::after,
::before {
    box-sizing: border-box
}

* {
    -webkit-tap-highlight-color: transparent;
}

:root {
    --app-height: 100%;
}

html,
body {
    height: var(--app-height);
}

html {
    scrollbar-color: $akebi_purple transparent;
    scrollbar-width: thin;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0 !important;
    overflow: overlay;
    color: $white;
    background-image: url('images/background/back.jpg');
    background-position: center center;
    background-size: cover;
    width: 100%;
    font-family: 'Montserrat';

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-button {
        background-repeat: no-repeat;
        width: 6px;
        height: 0px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: linear-gradient(45deg, $summer_sky 0, $blue_oyster_cult 45%, $akebi_purple 57%, $lilac_lotion 70%);
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
}

p {
    margin: 0;
}

a {
    color: $white;
}