@import 'utils/variables.scss';

.test{
  padding-bottom: 25px;
  
  &_inner{
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    gap: 20px;
    padding-bottom: 25px;
  }

  &_item{
    padding: 25px 15px;
    border-radius: $borderR;
    border: 1px solid $grey;

    &_title{
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 15px;
    }

    .answers{
      display: flex;
      flex-direction: column;
      gap: 10px;

      &_version{
        display: flex;
        gap: 15px;
        align-items: center;
      }


    }
  }
}