/* assets/scss/home.scss */
.home {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.home_container {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home_title {
  font-size: 52px;
  font-family: "Conthrax", sans-serif;
}
.home_logoCem {
  width: 230px;
  height: 230px;
}
